/* Fonts */
h1, h2, h3 {
    font-family: ROD2;
}
h4, h5, h6 {
    font-family: gougougaga;
}

@font-face {
    font-family: 'ROD2';
    src: url('fonts/ROD2.ttf') format('truetype');
}

@font-face {
    font-family: 'gougougaga';
    src: url('fonts/VT323-Regular.ttf') format('truetype');
}

h1, h4 {
    color:#FF8800;
}

h2, h5 {
    color: #8B0000;
}

h3, h6 {
    color: #00FF00;
}

.blanc { color: #FFFFFF; }

/* Body */
body {
    margin: 0;
    background-color: #000000;
    overflow-x: hidden;
}

/* Contenu */
.content {
    position: relative;
    z-index: 1;
    padding: 50px;
    color: white;
}

.parallax {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 200vh;
    background-image: url("bg.png");
    background-size: cover;
    background-position: center 0;
    z-index: -1;
}


a{
    /* le texte en gras : */
    font-weight:bold;
    /**/
    color:#FFF;
    text-decoration: none;
    display : block;
}